/* src/components/Hero.css */

/* Custom styles for the Hero component */
.hero {
    background-color: #000000;
    opacity: 0;
    position: relative;
  }
  
  #tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .text-center {
    position: relative;
    z-index: 10;
  }
  